@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Tinos&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.left{
  position: absolute;
  width: 50%;
  height: 100%;
  top:0;
  left: 0;
  background-color: lightblue;
  display: inline-block;
}

.font{
  font-family: 'Indie Flower', cursive;
  color: rgba(235, 229, 229, 0.411);

}
.font2{
  font-family: 'Caveat', cursive;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: cursive;
  font-style: italic;
  font-size: 20px;
}
.todo{
  border-bottom: 1px solid rgb(0, 0, 0,0.3);
  color: black;
  padding: 10px 0px;
  font-size: 24px;
}
#sub-btn{
  color:white;
  background-image: linear-gradient(to right, rgb(94, 27, 133) , rgb(197, 130, 228));
}
.logo{

  position: fixed;
  top: -50px;
  left: -50px;
  width: 200px;
}
.right{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: pink;
  display: inline-block;

}
.main-box{
  /* background-image: url('./bg.png'); */
background-color: rgb(225, 210, 228);
}
.c-div{
  z-index: 10;
}
.hello{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-b{
  position: absolute;
  color: rgb(173, 216, 230);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
